{% extends 'ecommerce/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    {% for field in registration_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    <form method="POST">{% csrf_token %}

        <label>Имя пользователя</label>
        <input type="text" class="form-control" name="name">

        <label>Никнейм</label>
        <input type="text" class="form-control" name="username">

        <label>Email</label>
        <input type="text" class="form-control" name="email">

        <label>Возраст</label>
        <input type="number" class="form-control" name="age">

        <label>Пароль</label>
        <input type="password" class="form-control" name="password1">

        <label>Пароль ещё раз</label>
        <input type="password" class="form-control" name="password2">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}