<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Error
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark ">
        <p class="navbar-brand" style="margin: 0px; padding: 0px;">Azon</p>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  col-12 lg-3">
                <li class="nav-item {{ clicked_main }}">
                    <a class="nav-link " href="{% url 'main_page_url' %}">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{ clicked_users }}">
                    <a class="nav-link" href="{% url 'users_list_url' %}">Пользователи</a>
                </li>
                <li class="nav-item {{ clicked_shops }}">
                    <a class="nav-link" href="{% url 'shops_list_url' %}">Магазины</a>
                </li>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0">
        {% if request.user.is_authenticated %}
            <a class="btn btn-dart mr-50" style="margin-right: 10px; color: white" href="{% url 'user_detail_url' username=request.user.username %}">Мой профиль: {{ request.user.username }}</a>
            <a class="btn btn-light ml-50" href="{% url 'logout_url' %}">Выйти</a>
        {% else %}
            <a class="btn btn-dart mr-50" style="margin-right: 10px; color: white;" href="{% url 'login_url' %}">Войти</a>
            <a class="btn btn-light ml-50" href="{% url 'registr_url' %}">Зарегистрироваться</a>
        {% endif %}
        </div>
    </nav>
    <div class="container col-12 pt-5 pb-5" style="padding: 15px 35px; min-height: calc(100% - 58px);">
        {% block content %}
        {% endblock %}
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>