{% extends 'ecommerce/base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content%}
    <h1>Добро пожаловать {{ request.user.name }}</h1>
    <br>
    <br>
    <h2>Популярное: </h2>
    {% if not items %}
        Пока нет вообще товаров. Совсем все туго:(
    {% endif %}
    {% for item in items %}
        <div class="card" style="width: 18rem; display: inline-block; margin-right: 15px; margin-bottom: 15px;">

            <div class="card-body" >
                <h5 class="card-title">{{ item.title }}</h5>
                <ul class="item_card__description" style="text-decoration: none; display: block;">
                    <li class="item_description_item" style="display:block;">
                        Категория: {{ item.category }}
                    </li>
                    <li class="item_description_item" style="display:block;">
                        Цена: {{ item.price }}
                    </li>
                    <li class="item_description_item" style="display:block;">
                        Количество: {{ item.quantity }}
                    </li>
                    <li class="item_description_item" style="display:block;">
                        Магазин: <a href="{% url 'shop_detail_url' title=item.shop.title %}">{{ item.shop.title }}</a>
                    </li>
                </ul>
                <a href="{% url 'item_detail_url' title=item.title %}" class="btn btn-primary">Посмотреть подробнее</a>
            </div>
    {% endfor %}
{% endblock %}